@font-face{
  font-family: 'PTMono';
  src: url('PTMono.ttf');
}
@font-face{
  font-family: 'ps';
  src: url('pressstart.ttf');
}
.llogo {
  text-decoration: none;
  color: black;
  font-family: 'ps';
}
.main {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
h1 {
  font-family: 'ps';
  font-size: 25px;
}
* {
  font-family: 'PTMono';
}
a {
  color: black;
  text-decoration: none;
  height: auto;
}
.button {
  color: white;
  border-bottom: solid 5px #35a691;
  background-color: #2ac7aa;
  padding: 2px;
  float: right;

}
.block {
  border: solid 2px black;
  width: 400px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 150px;
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  height: 40px;
}
.create {
  width: 100%;
}
